{
  "agents": {
    "defaults": {
      "model": {
        "primary": "anthropic/claude-sonnet-4-6"
      },
      "workspace": "/home/node/.openclaw/workspace",
      "compaction": {
        "mode": "safeguard"
      }
    }
  },
  "channels": {
    "telegram": {
      "enabled": true,
      "botToken": "{{BOT_TOKEN}}",
      "allowFrom": [
        0
      ],
      "dmPolicy": "pairing",
      "streaming": "off",
      "actions": {
        "reactions": true,
        "sendMessage": true,
        "deleteMessage": false
      },
      "reactionLevel": "minimal"
    }
  },
  "gateway": {
    "mode": "local",
    "port": 18789,
    "auth": {
      "mode": "token",
      "token": "${GATEWAY_TOKEN}"
    }
  },
  "commands": {
    "native": "auto",
    "nativeSkills": "auto"
  },
  "skills": {
    "entries": {
      "openai-whisper-api": {
        "apiKey": "${OPENAI_API_KEY}"
      },
      "openai-image-gen": {
        "apiKey": "${OPENAI_API_KEY}"
      }
    }
  },
  "mcpServers": {
    "dadata": {
      "command": "npx",
      "args": [
        "-y",
        "supergateway",
        "--streamableHttp",
        "https://mcp.dadata.ru/mcp",
        "--oauth2Bearer",
        ":"
      ]
    }
  }
}